name: Flake Check
on:
  push:
    branches:
      - main
  workflow_dispatch: null
jobs:
  flake-check:
    name: Flake Check
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5.0.1
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34
      - name: Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          diagnostic-endpoint: ""
          use-flakehub: false
      - name: Flake checker
        uses: DeterminateSystems/flake-checker-action@v12
        with:
          fail-mode: true
          send-statistics: false
      - name: Run `nix flake check`
        run: nix flake check .
